:root{
    --textotitulo:#46484C;
    --textopromocional:#8b8b8bcc;
    --textoboton:#eee;
    --fondopagina:#eee;
    --fondoboton:#025157;
    --blanco:#fff99;
}

body{
    background-color: var(--fondopagina);
    line-height: 2rem;
    margin: 0 auto;
    
}
img{
  max-width: 100%;
}
h1{
    color:rgb(111,111,201);
}
h2,h3,h4,h5,h6{
    color: var(--textotitulo);
}
p{
    color:var(--textopromocional);
}
button{
    background-color: var(--fondoboton);
}
.fixed-header{
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  
}

.header {
  margin: 4rem 2rem 4rem 2rem;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  line-height: 45px;
  height: 45px;
}

li {
  display: inline;
  font-size: 1.6rem;
  padding: 2px;
}
.video{
  width: 50%;
  height: 50%;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: green;
  font-family: sans-serif;
  max-width: 70%;
  
  
}


.actions button{
    border-radius: 0.5rem;
    padding:1px;
    font-size: 14px;
    color:var(--blanco);
    font-weight: 700;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    
}
.actions a{
    color:#67b54b;
}
.actions{
    color:var(--blanco);
    font-weight: 700;
    font-size: 14px;
    margin: 0 10px;
    width: 15%;
    text-align: left;
    font-size: 14px;
}

.alineacion{
    margin: 4rem;
    margin-left: 500px;
}




.promo{
  display: flex;
  align-content: center;
  justify-content: center;
  gap:10px;
  width: 70%;
  margin: 0 auto;
  

}

.promo__texto h3{
 color:  #025157 ;
 
}
.promo__texto p{
  color: #000;
}

.promo__texto{
  font-size: 40px;
  color:#343434;
  width:50%;
  height: 50%;
  padding: 30px;
}

.promo__video{
  
  margin-top: 48px;
 
}
.promo__boton{
  padding: 20px;
  font-size: 20px;
  border-radius: 30px;
  color:#fff;
}

.btn--secundario{
  background-color: var(--blanco);
  color:#000;
}